.first-sign {
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%
}
.last-sign {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%
}
.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}
.main-widget-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 60%;
}


.countdown-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px
}
.countdown-text {
    font-size: 10px;
    text-align: center;
}
.delimiter{
    font-size: 30px;
    position: relative;
    bottom: 8px;
    right: 6px;
    font-weight: 900;
}

.numbers-container {
    display: flex;
    justify-content: space-between
}
.number-place {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 32px;
    font-weight: 600;
    box-shadow: #0b0f27 0 0 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 14px;
    background-color: #fff;
    color: rgb(65, 65, 106);
    width: 35px;
    height: 40px;
}

.event-link{
    text-decoration: underline;
    color: darkblue;
}



.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin-bottom: 20px;
    border: 1.5px solid transparent;
    border-radius: 5px;
}
.img-container:hover{
    border-color: #8c8be6;
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    .number-place {
        border-radius: 3px;
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
        width: 18px
    }
    .first-sign{
        font-size: 22px;
    }
    .last-sign{
        font-size: 15px;
    }
    .countdown-text{
        font-size: 7px;
    }
}
@media screen and (max-width: 540px) {
    .first-sign{
        width: 15%
    }
    .last-sign{
        width: 10%
    }
    .number-place{
        font-size: 14px;
        border-radius: 2px;
        margin-left: 2px;
        margin-right: 2px;
        width: 15px
    }
}